$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #00bcd4;
$primary-dark: #008ba3;
$primary-light: #62efff;
$on-primary: #ffffff;

$secondary: #ffd54f;
$secondary-dark: #c8a415;
$secondary-light: #ffff81;
$on-secondary: #000000;

$error: #B00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #ffffff;

$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: DM Sans;
$font_main: DM Sans;
$font_heading_weight: 700;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #7d51ad;
$action_2: #41d2e9;
$action_3: #ea699a;
$color_main: #321d59;
$color_heading: #4C5A6B;
$color_white: #ffffff;
$color_gray: #EBEAED;
$bg_dark: #35244e;
$bg_light: #fdfaff;

$color_red: #EA3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
