<div>
    <!-- Header 7 -->
    <header class="bg-light header_7">
        <nav class="header_menu_7 pt-30 pb-30 mt-40">
            <div class="container px-xl-0">
                <div class="mw-570">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <a href="#" class="link img_link w-200">
                                <img src="assets/logo.svg" alt="Logo" class="img-fluid h-full w-full" data-aos="fade-down" data-aos-delay="750" srcset="assets/logo.svg 2x">
                            </a>
                        </div>
                        <div class="col-lg-9 text-right" data-aos="fade-down" data-aos-delay="1000">
                            <div class="language-picker js-language-picker">
                                <div class="language-picker__form">
                                    <label for="language-picker-select">Select your language</label>
                                    <ng-select [items]="availableLanguages"
                                               id="language-picker-select"
                                               [(ngModel)]="selectedLang"
                                               bindLabel="label"
                                               bindValue="value"
                                               (change)="setLanguage($event)"
                                               >
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container px-xl-0 relative text-center text-md-left">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-md-7 pt-230 pb-165 inner">
                    <div class="mb-3 d-xl-none">
                        <a href="#" class="link img_link">
                            <img src="i/logo.svg" alt="Logo" class="img-fluid" data-aos="fade-down" data-aos-delay="0">
                        </a>
                    </div>
                    <h1 data-aos="fade-down" data-aos-delay="0">
                        {{'MAIN.TITLE' | translate }}
                    </h1>
                    <div class="mt-20 mw-500 color-heading f-18 medium op-7 text-adaptive" data-aos="fade-down" data-aos-delay="250">
                        We made it so beautiful and simple. It combines landings, pages, blogs and shop screens. It is definitely the tool you need in your collection!
                    </div>
                    <div class="mt-70 d-block d-sm-flex flex-wrap justify-content-center buttons" data-aos="fade-down" data-aos-delay="500">
                        <a href="#" routerLink="/auth" class="btn lg action-1">
                            Sign In
                        </a>
                        <a href="#" routerLink="/auth" class="btn ml-10 lg border-gray color-main">
                            Sign Up
                        </a>
                    </div>
                    <div class="mt-20 color-heading text-adaptive" data-aos="fade-down" data-aos-delay="500">
							<span>
								By signing up, you agree to the
							</span>
                        <a href="#" class="link color-heading">
                            Terms of Service
                        </a>
                    </div>
                </div>
                <div class="col-md-5 d-none d-md-block img_holder" data-aos="fade-down" data-aos-delay="750">
                    <div class="h-full relative overflow-hidden">
                        <img src="i/header_7_bg.jpg" srcset="i/header_7_bg@2x.jpg 2x" alt="" class="absolute h-full">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Content 3 -->
    <section class="pt-105 pb-85 bg-light content_3">
        <div class="container px-xl-0">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <h2 class="small text-center" data-aos="fade-down" data-aos-delay="0">
                        Samples will show you the feeling on how to play around using the components in the website building process.
                    </h2>
                    <div class="mt-30 row f-18 medium color-heading op-7 text-center text-md-left blocks">
                        <div class="mt-30 col-md-6 text-adaptive" data-aos="fade-down" data-aos-delay="250">
                            We haven't forgotten about responsive layout.
                            <br>With Startup Framework, you can create a website with full mobile support.
                        </div>
                        <div class="mt-30 col-md-6 text-adaptive" data-aos="fade-down" data-aos-delay="500">
                            Components and blocks are fixed to the common and popular 12 Grid system, something designers and developers can agree on.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content 20 -->
    <section class="pt-105 pb-100 bg-light content_20">
        <div class="container px-xl-0">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11">
                    <h2 class="small" data-aos="fade-down" data-aos-delay="0">
                        Easy steps
                    </h2>
                    <div class="row">
                        <div class="mt-25 col-lg-10 inner">
                            <div class="pb-50 relative block">
                                <div class="content_20_line">
                                </div>
                                <div class="bg-gray color-heading radius_full w-40 h-40 f-18 medium lh-40 text-center number">
                                    1
                                </div>
                                <div class="ml-70 pt-10 block_inner" data-aos="fade-down" data-aos-delay="250">
                                    <div class="f-heading f-18 medium">
                                        How Startup Framework works?
                                    </div>
                                    <div class="mt-20 color-heading text-adaptive">
                                        The Generator App is an online tool that helps you to export ready-made templates
                                        <br>ready to work as your future website. It helps you to combine slides, panels and other
                                        <br>components and export it as a set of static files: HTML/CSS/JS.
                                    </div>
                                </div>
                            </div>
                            <div class="pb-50 relative block">
                                <div class="content_20_line">
                                </div>
                                <div class="bg-gray color-heading radius_full w-40 h-40 f-18 medium lh-40 text-center number">
                                    2
                                </div>
                                <div class="ml-70 pt-10 block_inner" data-aos="fade-down" data-aos-delay="250">
                                    <div class="f-heading f-18 medium">
                                        Twenty five awesome samples
                                    </div>
                                    <div class="mt-20 color-heading text-adaptive">
                                        <div>
                                            The most important part of the Startup Framework is the samples. The samples form a set
                                            <br>of 25 usable pages you can use as is or you can add new blocks from UI Kit. By choosing
                                            <br>one of the 25 configurations of the future startup, the process of creation is simple and
                                            <br>easy.
                                        </div>
                                        <div class="mt-35 d-sm-flex align-items-start video_block">
                                            <a href="https://www.youtube.com/embed/RcTFVcoibI0?rel=0&amp;showinfo=0" class="w-170 relative" target="_blank" data-fancybox="content_20_fancybox">
                                                <i class="fas fa-play color-white">
                                                </i>
                                                <img src="i/content_20_video_poster.jpg" srcset="i/content_20_video_poster@2x.jpg 2x" alt="" class="radius6">
                                            </a>
                                            <div class="ml-30 mw-270 inner">
                                                <div class="f-14 semibold text-uppercase sp-20 color-main">
                                                    Fell our design
                                                </div>
                                                <div class="mt-15 text-adaptive">
                                                    Startup Design Framework contains components which can easily be integrated into almost any design.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="relative block">
                                <div class="bg-gray color-heading radius_full w-40 h-40 f-18 medium lh-40 text-center number">
                                    3
                                </div>
                                <div class="ml-70 pt-10 block_inner" data-aos="fade-down" data-aos-delay="250">
                                    <div class="f-heading f-18 medium">
                                        Variety of designs
                                    </div>
                                    <div class="mt-20 color-heading text-adaptive">
                                        <div>
                                            You can decide whether to create your site using UI Kit blocks or samples. The blocks
                                            <br>can merge together in various combinations.
                                        </div>
                                        <a href="#" class="btn mt-20 action-1">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Form 2 -->
    <!-- Blog 24 -->
    <section class="pt-50 pb-50 bg-light blog_24">
        <div class="container px-xl-0">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 d-sm-flex justify-content-between">
                    <h4 class="mb-0 color-main f-32 text-center text-sm-left" data-aos="fade-down" data-aos-delay="0">
                        Follow us in social
                    </h4>
                    <div class="mt-25 mt-sm-0 d-flex justify-content-center justify-content-sm-end align-items-center">
                        <a href="#" class="mr-15 h-40 w-40 color-white f-18 lh-40 text-center radius10 link" style="background-color:#4267B2;" data-aos="fade-down" data-aos-delay="250">
                            <i class="fab fa-facebook-f">
                            </i>
                        </a>
                        <a href="#" class="mr-15 h-40 w-40 color-white f-18 lh-40 text-center radius10 link" style="background-color:#E94C88;" data-aos="fade-down" data-aos-delay="500">
                            <i class="fab fa-dribbble">
                            </i>
                        </a>
                        <a href="#" class="mr-15 h-40 w-40 color-white f-18 lh-40 text-center radius10 link" style="background-color:#0077B5;" data-aos="fade-down" data-aos-delay="750">
                            <i class="fab fa-linkedin-in">
                            </i>
                        </a>
                        <a href="#" class="h-40 w-40 color-white f-18 lh-40 text-center radius10 link" style="background-color:#1DA1F2;" data-aos="fade-down" data-aos-delay="1000">
                            <i class="fab fa-twitter">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
