<div class="password">
    <input type="text" class="app-input input mb-25 w-full lg border-gray focus-action-1 color-heading placeholder-gray text-center text-md-left" [value]="value" [placeholder]="placeholder || 'Password'"
        [attr.disabled]="isDisabled ? true : null" (keyup)="onKeyup($event.target.value)" (blur)="onBlur()"
        [attr.type]="passwordType">

    <div class="password__actions" (click)="togglePassword()">
        <span>{{passwordType === 'password' ? 'Show' : 'Hide'}}</span>
    </div>
</div>
